@import url(//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);
.position-grid figure,
.position-grid img {
  width: 64px; }

.position-grid figure img {
  padding: 0; }

.position-grid .carbon-radio-list,
.position-grid .carbon-radio-image-list,
.position-grid .cf-radio__list,
.position-grid.cf-radio-image .cf-radio__list {
  width: 66px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 22px 22px 22px;
      grid-template-columns: 22px 22px 22px;
  -ms-grid-rows: 22px 22px 22px;
      grid-template-rows: 22px 22px 22px;
  border: 1px solid black;
  padding: 0 !important;
  box-sizing: content-box; }

.position-grid li {
  display: -ms-inline-grid !important;
  display: inline-grid !important;
  width: 22px; }

.position-grid li label {
  border: 1px solid black;
  width: 21px; }

.position-grid .carbon-radio-list li label {
  width: 22px; }

.position-grid li, .position-grid li label {
  box-sizing: border-box;
  height: 22px;
  overflow: hidden;
  margin: 0 !important; }

.position-grid input {
  width: 20px;
  height: 30px;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 0;
  opacity: 0; }
  .position-grid input:focus {
    outline: none; }
  .position-grid input:checked {
    background: black; }

.position-grid.with-labels label label {
  border: 0; }

.position-grid.with-labels input {
  position: absolute;
  left: -999em; }
  .position-grid.with-labels input + label {
    background: transparent;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap; }
  .position-grid.with-labels input:checked + label {
    background: black; }

.add-slider input {
  display: inline-block !important;
  width: auto !important; }

.add-slider .a-slider {
  display: inline-block;
  width: 400px; }

#cls-og-preview {
  zoom: 0.5; }

#cls-og-preview div {
  width: 1200px;
  height: 630px;
  background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px; }

.inView + #cls-og-preview {
  display: block; }

#cls-og-preview, .closed + #cls-og-preview {
  display: none; }

#branded-social-images-editor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1200px 1fr;
      grid-template-columns: 1200px 1fr;
  grid-template-areas: "image options" "image settings";
  z-index: 0; }
  #branded-social-images-editor .area--background {
    width: 1200px;
    height: 0;
    padding-bottom: 52.5%;
    position: relative;
    grid-area: image;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    z-index: 0; }
  #branded-social-images-editor .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent no-repeat 100%/contain; }
  #branded-social-images-editor .area--text {
    grid-area: image;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--padding) 840px auto;
        grid-template-columns: var(--padding) 840px auto;
    -ms-grid-rows: var(--padding) 441px auto;
        grid-template-rows: var(--padding) 441px auto;
    grid-template-areas: ". . ." ". edit ." ". . ."; }
    #branded-social-images-editor .area--text .editable-container {
      grid-area: edit; }
      #branded-social-images-editor .area--text .editable-container .editable {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border: none;
        color: var(--text-color);
        background: var(--text-background);
        display: inline-block;
        font-size: var(--font-size);
        line-height: var(--line-height);
        padding: var(--text-padding);
        text-shadow: var(--text-shadow-left) var(--text-shadow-top) 0 var(--text-shadow-color); }
  #branded-social-images-editor .area--options {
    position: relative;
    grid-area: options; }
  #branded-social-images-editor .area--settings {
    grid-area: settings; }
  #branded-social-images-editor .hidden {
    display: block; }
  #branded-social-images-editor .wrap-position-grid .options-wrap {
    width: 66px;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 22px 22px 22px;
        grid-template-columns: 22px 22px 22px;
    -ms-grid-rows: 22px 22px 22px;
        grid-template-rows: 22px 22px 22px;
    border: 1px solid black;
    padding: 0 !important;
    box-sizing: content-box; }
  #branded-social-images-editor .wrap-position-grid .option-wrap {
    display: -ms-inline-grid !important;
    display: inline-grid !important;
    width: 100%;
    height: 100%;
    position: relative; }
    #branded-social-images-editor .wrap-position-grid .option-wrap label {
      text-indent: 30px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid black;
      border-top: 0;
      border-left: 0; }
    #branded-social-images-editor .wrap-position-grid .option-wrap:nth-child(n+7) label {
      border-bottom: 0; }
    #branded-social-images-editor .wrap-position-grid .option-wrap:nth-child(3n) label {
      border-right: 0; }
    #branded-social-images-editor .wrap-position-grid .option-wrap input:checked + label {
      background: black; }
  #branded-social-images-editor .wrap-position-grid input {
    width: 20px;
    height: 30px;
    -webkit-appearance: none;
            appearance: none;
    border-radius: 0;
    border: 0;
    opacity: 0; }
    #branded-social-images-editor .wrap-position-grid input:focus {
      outline: none; }
    #branded-social-images-editor .wrap-position-grid input:checked {
      background: black; }
