.position-grid {
  figure,
  img {
    width: 64px;
  }

  figure img {
    padding: 0;
  }

  .carbon-radio-list,
  .carbon-radio-image-list,
  .cf-radio__list,
  &.cf-radio-image .cf-radio__list {
    width: 66px;
    display: inline-grid;
    grid-template-columns: 22px 22px 22px;
    grid-template-rows: 22px 22px 22px;
    border: 1px solid black;
    padding: 0 !important;
    box-sizing: content-box;

  }

  li {
    display: inline-grid !important;
    width: 22px;
  }

  li label {
    border: 1px solid black;
    width: 21px;
  }

  .carbon-radio-list li label { // exception for carbon 2
    width: 22px;
  }

  li, li label {
    box-sizing: border-box;
    height: 22px;
    overflow: hidden;
    margin: 0 !important
  }

  input {
    width: 20px;
    height: 30px;
    appearance: none;
    border-radius: 0;
    border: 0;
    opacity: 0;

    &:focus {
      outline: none;
    }

    &:checked {
      background: black;
    }
  }

  &.with-labels {
    label label {
      border: 0;
    }

    input {
      position: absolute;
      left: -999em;

      + label {
        background: transparent;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        overflow: hidden;
        white-space: nowrap;
      }

      &:checked + label {
        background: black;
      }
    }
  }
}

.add-slider {
  input {
    display: inline-block !important;
    width: 60px !important;
  }

  .a-slider {
    display: inline-block;
    width: 350px;
    width: calc(100% - 66px);
  }
}


#cls-og-preview {
  zoom: 0.5;
}

#cls-og-preview {
  div {
    width: 1200px;
    height: 630px;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

    //position: fixed;
    //right: 20px;
    //bottom: 50px;
  }

  .inView + & {
    display: block;
  }

  &, .closed + & {
    display: none;
  }
}

@import url(//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);

// native interface
#branded-social-images-editor {
  label {
    vertical-align: unset;
  }
  .grid {
    zoom: 0.5; // enabling this line this disables the large view
    display: grid;
    //grid-template-columns: 1200px 1fr;
    //grid-template-areas: "image ." "image .";
    //@media screen and (max-width: 1920px) {
      grid-template-columns: 1200px;
      grid-template-areas: "image" ".";
    //}
    z-index: 0;

    // enable this @media section when using the large view above
    //@media screen and (max-width: 1700px) {
    //  grid-template-columns: 600px;
    //  .area--text, .area--background-alternate, .area--background, .area--background-canvas, .area--logo {
    //    zoom: 0.5;
    //  }
    //}
  }

  .area--background, .area--background-alternate, .area--background-canvas {
    width: 1200px;
    height: 0;
    padding-bottom: (630/1200)*100%;
    position: relative;
    grid-area: image;
    z-index: 0;
  }

  .area--background-canvas {
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent no-repeat 100%/cover;
  }

  .area--logo {
    grid-area: image;
    z-index: 1;
    display: grid;
    grid-template-columns: auto var(--text-width) auto;
    grid-template-rows: auto var(--text-height) auto;
    grid-template-areas: ". . ." ". logo ." ". . .";
    align-items: center;
    justify-items: center;

    .logo {
      grid-area: logo;
      background: transparent no-repeat center/contain;
      // x0.005 for 0.001 = 1%, x 0.5 for interface scale
      width: calc(var(--logo-scale) * .005px * var(--logo-width));
      height: calc(var(--logo-scale) * .005px * var(--logo-height));
    }
  }


  &.logo_position-top-left, &.logo_position-left, &.logo_position-bottom-left {
    .area--logo {
      grid-template-columns: var(--padding) var(--text-width) auto;
      justify-items: start;

      .logo {
        background-position-x: left;
      }
    }
  }

  &.logo_position-top-right, &.logo_position-right, &.logo_position-bottom-right {
    .area--logo {
      grid-template-columns: auto var(--text-width) var(--padding);
      justify-items: end;

      .logo {
        background-position-x: right;
      }
    }
  }

  &.logo_position-top-left, &.logo_position-top, &.logo_position-top-right {
    .area--logo {
      grid-template-rows: var(--padding) var(--text-height) auto;
      align-items: start;

      .logo {
        background-position-y: top;
      }
    }
  }

  &.logo_position-bottom-left, &.logo_position-bottom, &.logo_position-bottom-right {
    .area--logo {
      grid-template-rows: auto var(--text-height) var(--padding);
      align-items: end;

      .logo {
        background-position-y: bottom;
      }
    }
  }

  .area--text {
    grid-area: image;
    z-index: 2;
    display: grid;
    grid-template-columns: auto var(--text-width) auto;
    grid-template-rows: auto var(--text-height) auto;
    grid-template-areas: ". . ." ". edit ." ". . .";
    align-items: center;

    .editable-container {
      text-align: center;
      position: relative;
    }

    &.invisible {
      display: none;
    }

    .editable ~ .text-alternate {
      display: none !important;
    }

    .editable:empty + .text-alternate {
      display: block !important;
      position: absolute;
      pointer-events: none;
      opacity: 0.4;
      top: 50%;
      transform: translateY(-50%);
      max-height: unset;
    }
  }

  &.text_position-top-left, &.text_position-left, &.text_position-bottom-left {
    .area--text {
      grid-template-columns: var(--padding) var(--text-width) auto;

      .editable-container {
        text-align: left;
      }

      .editable:empty + .text-alternate {
        left: 0;
      }
    }
  }

  &.text_position-top-right, &.text_position-right, &.text_position-bottom-right {
    .area--text {
      grid-template-columns: auto var(--text-width) var(--padding);

      .editable-container {
        text-align: right;
      }

      .editable:empty + .text-alternate {
        right: 0;
      }
    }
  }

  &.text_position-top-left, &.text_position-top, &.text_position-top-right {
    .area--text {
      grid-template-rows: var(--padding) var(--text-height) auto;
      align-items: start;

      .editable:empty + .text-alternate {
        top: 0;
        transform: translateY(0);
      }

    }
  }

  &.text_position-bottom-left, &.text_position-bottom, &.text_position-bottom-right {
    .area--text {
      grid-template-rows: auto var(--text-height) var(--padding);
      align-items: end;

      .editable:empty + .text-alternate {
        top: initial;
        bottom: 0;
        transform: translateY(0);
      }
    }
  }

  .area--text {
    .editable-container {
      grid-area: edit;
      .editable {
        br:last-child {
          // to allow a semi-functional line-break
          display: block;
          content: ' ';
        }
      }

      .editable, .text-alternate {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border: none;
        color: var(--text-color);
        position: relative;
        background: var(--text-background);
        display: inline-block;
        font-size: calc(var(--font-size) / .75);
        line-height: calc(var(--line-height) / .75);
        padding: var(--text-padding);
        text-shadow: var(--text-shadow-left) var(--text-shadow-top) 0 var(--text-shadow-color);
        font-family: var(--text-font);
        font-weight: normal;
        font-style: normal;
      }
    }
  }

  .settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "options settings";
    width: 1200px;
    @media screen and (max-width: 1920px) {
    }
    @media screen and (max-width: 1700px) {
      width: 600px;
      grid-template-columns: 1fr;
      grid-template-areas: "options" "settings";
    }
  }

  .area--options, .area--settings {
    display: flex;
    flex-direction: column;
      .inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > span {
          width: 50%;
          @media screen and (max-width: 1200px) {
            width: 100%;
          }
          &.name-text_enabled, &.name-text_shadow_enabled {
            width: 100%;
          }
        }
      }
    @media screen and (max-width: 1700px) {
      .inner {
      }
    }
  }

  .area--options {
    position: relative; // should be below
    grid-area: options;
  }

  .area--settings {
    grid-area: settings;
  }

  .hidden, .wrap-hidden {
    display: none !important;
  }

  .wrap-position-grid {
    .options-wrap {
      width: 66px;
      display: inline-grid;
      grid-template-columns: 22px 22px 22px;
      grid-template-rows: 22px 22px 22px;
      border: 1px solid black;
      padding: 0 !important;
      box-sizing: content-box;

    }

    .option-wrap {
      display: inline-grid !important;
      width: 100%;
      height: 100%;
      position: relative;

      label {
        text-indent: 30px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid black;
        border-top: 0;
        border-left: 0;
      }

      &:nth-child(n+7) label {
        border-bottom: 0;
      }

      &:nth-child(3n) label {
        border-right: 0;
      }

      input:checked + label {
        background: black;
      }
    }

    input {
      width: 20px;
      height: 30px;
      appearance: none;
      border-radius: 0;
      border: 0;
      opacity: 0;

      &:focus {
        outline: none;
      }

      &:checked {
        background: black;
      }
    }
  }

  .no-remove ~ .remove {
    display: none;
  }

  .add-image-select {
    input[value='0'] ~ .remove, input[value=''] ~ .remove {
      display: none;
    }
  }

  .image-preview-wrapper {
    display: none;
  }

  .input-wrap {
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;

    .comment {
      display: block
    }
    &.name-text_enabled .comment, &.name-text_shadow_enabled .comment { display: inline; margin-left: 1em; }

    i.toggle-info {
      cursor: help;

      + .comment {
        display: none;
      }

      &.active + .comment {
        display: block;
      }
    }

    > label:first-child {
      display: block;
      font-weight: bold;
    }

    textarea, input[type=text] {
      width: 100%;
    }


    &.input-color {
      .field-wrap{
        position: relative;
        display: inline-block;
      }
    }

    input.color-picker {
      padding-left: 30px;
      //background-color: var(--the-color);
      + .swatch {
        background-color: var(--the-color);
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 2px;
        left: 3px;
        border-radius: 3px;
        border: 1px solid #8c8f94;
        pointer-events: none;
      }
    }
  }

  .filename + .message {
    display: block;
  }

  .filename:empty + .message {
    display: none;
  }
}
