@import url(//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);
.position-grid figure,
.position-grid img {
  width: 64px; }

.position-grid figure img {
  padding: 0; }

.position-grid .carbon-radio-list,
.position-grid .carbon-radio-image-list,
.position-grid .cf-radio__list,
.position-grid.cf-radio-image .cf-radio__list {
  width: 66px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 22px 22px 22px;
      grid-template-columns: 22px 22px 22px;
  -ms-grid-rows: 22px 22px 22px;
      grid-template-rows: 22px 22px 22px;
  border: 1px solid black;
  padding: 0 !important;
  box-sizing: content-box; }

.position-grid li {
  display: -ms-inline-grid !important;
  display: inline-grid !important;
  width: 22px; }

.position-grid li label {
  border: 1px solid black;
  width: 21px; }

.position-grid .carbon-radio-list li label {
  width: 22px; }

.position-grid li, .position-grid li label {
  box-sizing: border-box;
  height: 22px;
  overflow: hidden;
  margin: 0 !important; }

.position-grid input {
  width: 20px;
  height: 30px;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 0;
  opacity: 0; }
  .position-grid input:focus {
    outline: none; }
  .position-grid input:checked {
    background: black; }

.position-grid.with-labels label label {
  border: 0; }

.position-grid.with-labels input {
  position: absolute;
  left: -999em; }
  .position-grid.with-labels input + label {
    background: transparent;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap; }
  .position-grid.with-labels input:checked + label {
    background: black; }

.add-slider input {
  display: inline-block !important;
  width: 60px !important; }

.add-slider .a-slider {
  display: inline-block;
  width: 350px;
  width: calc(100% - 66px); }

#branded-social-images-editor label {
  vertical-align: unset; }

#branded-social-images-editor .grid {
  zoom: 0.5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1200px;
      grid-template-columns: 1200px;
  grid-template-areas: "image" ".";
  z-index: 0; }
  #side-sortables #branded-social-images-editor .grid, .is-side #branded-social-images-editor .grid {
    zoom: 0.21; }

#branded-social-images-editor .area--background, #branded-social-images-editor .area--background-alternate, #branded-social-images-editor .area--background-canvas {
  width: 1200px;
  height: 0;
  padding-bottom: 52.5%;
  position: relative;
  grid-area: image;
  z-index: 0; }

#branded-social-images-editor.with-logo .area--background-canvas svg .logo {
  display: none; }

#branded-social-images-editor.logo_position-top-right .area--background-canvas svg .mountains, #branded-social-images-editor.logo_position-right .area--background-canvas svg .mountains, #branded-social-images-editor.logo_position-bottom-right .area--background-canvas svg .mountains {
  -ms-transform: translate(1200px) scale(-1, 1);
      transform: translate(1200px) scale(-1, 1); }

#branded-social-images-editor.logo_position-top-right .area--background-canvas svg .sun, #branded-social-images-editor.logo_position-right .area--background-canvas svg .sun, #branded-social-images-editor.logo_position-bottom-right .area--background-canvas svg .sun {
  -ms-transform: translate(-420px);
      transform: translate(-420px); }

#branded-social-images-editor .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center 100%/cover; }

#branded-social-images-editor .area--logo {
  grid-area: image;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto var(--text-width) auto;
      grid-template-columns: auto var(--text-width) auto;
  -ms-grid-rows: auto var(--text-height) auto;
      grid-template-rows: auto var(--text-height) auto;
  grid-template-areas: ". . ." ". logo ." ". . .";
  -ms-flex-align: center;
      align-items: center;
  -ms-grid-column-align: center;
      justify-items: center; }
  #branded-social-images-editor .area--logo .logo {
    grid-area: logo;
    background: transparent no-repeat center/contain;
    width: calc(var(--logo-scale) * var(--logo-width) / 200);
    height: calc(var(--logo-scale) * var(--logo-height) / 200); }
  .postbox #branded-social-images-editor .area--logo.logo-alternate {
    display: none; }
  #branded-social-images-editor .area--logo.logo-alternate .logo {
    width: calc(var(--logo-scale) * var(--logo-width) / 100);
    height: calc(var(--logo-scale) * var(--logo-height) / 100); }

#branded-social-images-editor.with-logo .area--logo.logo-alternate {
  display: none; }

#branded-social-images-editor:not(.with-logo) .area--logo:not(.logo-alternate) {
  display: none; }

#branded-social-images-editor.logo_position-top-left .area--logo, #branded-social-images-editor.logo_position-left .area--logo, #branded-social-images-editor.logo_position-bottom-left .area--logo {
  -ms-grid-columns: var(--padding) var(--text-width) auto;
      grid-template-columns: var(--padding) var(--text-width) auto;
  -ms-grid-column-align: start;
      justify-items: start; }
  #branded-social-images-editor.logo_position-top-left .area--logo .logo, #branded-social-images-editor.logo_position-left .area--logo .logo, #branded-social-images-editor.logo_position-bottom-left .area--logo .logo {
    background-position-x: left; }

#branded-social-images-editor.logo_position-top-right .area--logo, #branded-social-images-editor.logo_position-right .area--logo, #branded-social-images-editor.logo_position-bottom-right .area--logo {
  -ms-grid-columns: auto var(--text-width) var(--padding);
      grid-template-columns: auto var(--text-width) var(--padding);
  -ms-grid-column-align: end;
      justify-items: end; }
  #branded-social-images-editor.logo_position-top-right .area--logo .logo, #branded-social-images-editor.logo_position-right .area--logo .logo, #branded-social-images-editor.logo_position-bottom-right .area--logo .logo {
    background-position-x: right; }

#branded-social-images-editor.logo_position-top-left .area--logo, #branded-social-images-editor.logo_position-top .area--logo, #branded-social-images-editor.logo_position-top-right .area--logo {
  -ms-grid-rows: var(--padding) var(--text-height) auto;
      grid-template-rows: var(--padding) var(--text-height) auto;
  -ms-flex-align: start;
      align-items: start; }
  #branded-social-images-editor.logo_position-top-left .area--logo .logo, #branded-social-images-editor.logo_position-top .area--logo .logo, #branded-social-images-editor.logo_position-top-right .area--logo .logo {
    background-position-y: top; }

#branded-social-images-editor.logo_position-bottom-left .area--logo, #branded-social-images-editor.logo_position-bottom .area--logo, #branded-social-images-editor.logo_position-bottom-right .area--logo {
  -ms-grid-rows: auto var(--text-height) var(--padding);
      grid-template-rows: auto var(--text-height) var(--padding);
  -ms-flex-align: end;
      align-items: end; }
  #branded-social-images-editor.logo_position-bottom-left .area--logo .logo, #branded-social-images-editor.logo_position-bottom .area--logo .logo, #branded-social-images-editor.logo_position-bottom-right .area--logo .logo {
    background-position-y: bottom; }

#branded-social-images-editor .area--text {
  grid-area: image;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto var(--text-width) auto;
      grid-template-columns: auto var(--text-width) auto;
  -ms-grid-rows: auto var(--text-height) auto;
      grid-template-rows: auto var(--text-height) auto;
  grid-template-areas: ". . ." ". edit ." ". . .";
  -ms-flex-align: center;
      align-items: center; }
  #branded-social-images-editor .area--text .editable-container {
    text-align: center;
    position: relative; }
    #branded-social-images-editor .area--text .editable-container pre {
      margin: 0;
      white-space: break-spaces; }
  #branded-social-images-editor .area--text.invisible {
    display: none; }
  #branded-social-images-editor .area--text .editable ~ .text-alternate {
    display: none !important; }
  #branded-social-images-editor .area--text .editable:empty + .text-alternate {
    display: block !important;
    position: absolute;
    pointer-events: none;
    opacity: 0.4;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    max-height: unset; }

#branded-social-images-editor.text_position-top-left .area--text, #branded-social-images-editor.text_position-left .area--text, #branded-social-images-editor.text_position-bottom-left .area--text {
  -ms-grid-columns: var(--padding) var(--text-width) auto;
      grid-template-columns: var(--padding) var(--text-width) auto; }
  #branded-social-images-editor.text_position-top-left .area--text .editable-container, #branded-social-images-editor.text_position-left .area--text .editable-container, #branded-social-images-editor.text_position-bottom-left .area--text .editable-container {
    text-align: left; }
  #branded-social-images-editor.text_position-top-left .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-left .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-bottom-left .area--text .editable:empty + .text-alternate {
    left: 0; }

#branded-social-images-editor.text_position-top-right .area--text, #branded-social-images-editor.text_position-right .area--text, #branded-social-images-editor.text_position-bottom-right .area--text {
  -ms-grid-columns: auto var(--text-width) var(--padding);
      grid-template-columns: auto var(--text-width) var(--padding); }
  #branded-social-images-editor.text_position-top-right .area--text .editable-container, #branded-social-images-editor.text_position-right .area--text .editable-container, #branded-social-images-editor.text_position-bottom-right .area--text .editable-container {
    text-align: right; }
  #branded-social-images-editor.text_position-top-right .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-right .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-bottom-right .area--text .editable:empty + .text-alternate {
    right: 0; }

#branded-social-images-editor.text_position-top-left .area--text, #branded-social-images-editor.text_position-top .area--text, #branded-social-images-editor.text_position-top-right .area--text {
  -ms-grid-rows: var(--padding) var(--text-height) auto;
      grid-template-rows: var(--padding) var(--text-height) auto;
  -ms-flex-align: start;
      align-items: start; }
  #branded-social-images-editor.text_position-top-left .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-top .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-top-right .area--text .editable:empty + .text-alternate {
    top: 0;
    -ms-transform: translateY(0);
        transform: translateY(0); }

#branded-social-images-editor.text_position-bottom-left .area--text, #branded-social-images-editor.text_position-bottom .area--text, #branded-social-images-editor.text_position-bottom-right .area--text {
  -ms-grid-rows: auto var(--text-height) var(--padding);
      grid-template-rows: auto var(--text-height) var(--padding);
  -ms-flex-align: end;
      align-items: end; }
  #branded-social-images-editor.text_position-bottom-left .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-bottom .area--text .editable:empty + .text-alternate, #branded-social-images-editor.text_position-bottom-right .area--text .editable:empty + .text-alternate {
    top: initial;
    bottom: 0;
    -ms-transform: translateY(0);
        transform: translateY(0); }

#branded-social-images-editor .area--text .editable-container {
  grid-area: edit; }
  #branded-social-images-editor .area--text .editable-container .editable br:last-child {
    display: block;
    content: ' '; }
  #branded-social-images-editor .area--text .editable-container .editable, #branded-social-images-editor .area--text .editable-container .text-alternate {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: none;
    color: var(--text-color);
    position: relative;
    display: inline-block;
    font-size: calc(var(--font-size) / .75);
    line-height: calc(var(--line-height) / .75);
    text-shadow: var(--text-shadow-left) var(--text-shadow-top) 0 var(--text-shadow-color);
    font-family: var(--text-font);
    letter-spacing: var(--letter-spacing);
    font-weight: normal;
    font-style: normal; }

#branded-social-images-editor.with-text-background .area--text .editable-container .editable, #branded-social-images-editor.with-text-background .area--text .editable-container .text-alternate {
  background: var(--text-background);
  padding: var(--text-padding); }

#branded-social-images-editor .settings {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  margin-top: 20px;
  width: 600px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-template-areas: "settings" "options" "config"; }
  #side-sortables #branded-social-images-editor .settings, .is-side #branded-social-images-editor .settings {
    width: 100%; }

#branded-social-images-editor .area--options, #branded-social-images-editor .area--settings, #branded-social-images-editor .area--config {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  #branded-social-images-editor .area--options h2, #branded-social-images-editor .area--settings h2, #branded-social-images-editor .area--config h2 {
    font-weight: 600;
    font-size: 1.3em;
    background: #fcfcfc;
    border: 1px solid #ddd;
    display: block;
    margin: 0;
    padding: 1em 30px;
    position: relative; }
    #side-sortables #branded-social-images-editor .area--options h2, .is-side #branded-social-images-editor .area--options h2, #side-sortables #branded-social-images-editor .area--settings h2, .is-side #branded-social-images-editor .area--settings h2, #side-sortables #branded-social-images-editor .area--config h2, .is-side #branded-social-images-editor .area--config h2 {
      padding: 1em 15px; }
    #branded-social-images-editor .area--options h2 .toggle, #branded-social-images-editor .area--settings h2 .toggle, #branded-social-images-editor .area--config h2 .toggle {
      display: inline-block;
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-left-width: 6px;
      border-right-width: 6px;
      border-top-color: currentColor;
      position: absolute;
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
      top: 0.5em;
      right: 30px; }
      #branded-social-images-editor .area--options h2 .toggle:hover, #branded-social-images-editor .area--settings h2 .toggle:hover, #branded-social-images-editor .area--config h2 .toggle:hover {
        border-top-color: #888;
        cursor: pointer; }
  #branded-social-images-editor .area--options.closed h2 .toggle, #branded-social-images-editor .area--settings.closed h2 .toggle, #branded-social-images-editor .area--config.closed h2 .toggle {
    top: 1em;
    -ms-transform: rotate(0);
        transform: rotate(0); }
  #branded-social-images-editor .area--options .inner, #branded-social-images-editor .area--settings .inner, #branded-social-images-editor .area--config .inner {
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-top: 0; }
    #side-sortables #branded-social-images-editor .area--options .inner, .is-side #branded-social-images-editor .area--options .inner, #side-sortables #branded-social-images-editor .area--settings .inner, .is-side #branded-social-images-editor .area--settings .inner, #side-sortables #branded-social-images-editor .area--config .inner, .is-side #branded-social-images-editor .area--config .inner {
      padding: 5px; }
  #branded-social-images-editor .area--options.closed .inner, #branded-social-images-editor .area--settings.closed .inner, #branded-social-images-editor .area--config.closed .inner {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0; }
  #branded-social-images-editor .area--options .inner, #branded-social-images-editor .area--settings .inner, #branded-social-images-editor .area--config .inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #branded-social-images-editor .area--options .inner > span, #branded-social-images-editor .area--settings .inner > span, #branded-social-images-editor .area--config .inner > span {
      width: 50%; }
      @media screen and (max-width: 1200px) {
        #branded-social-images-editor .area--options .inner > span, #branded-social-images-editor .area--settings .inner > span, #branded-social-images-editor .area--config .inner > span {
          width: 100%; } }
      #branded-social-images-editor .area--options .inner > span.name-text_enabled, #branded-social-images-editor .area--options .inner > span.name-image, #branded-social-images-editor .area--options .inner > span.name-image_logo, #branded-social-images-editor .area--options .inner > span.name-image_use_thumbnail, #branded-social-images-editor .area--options .inner > span.name-disabled, #branded-social-images-editor .area--settings .inner > span.name-text_enabled, #branded-social-images-editor .area--settings .inner > span.name-image, #branded-social-images-editor .area--settings .inner > span.name-image_logo, #branded-social-images-editor .area--settings .inner > span.name-image_use_thumbnail, #branded-social-images-editor .area--settings .inner > span.name-disabled, #branded-social-images-editor .area--config .inner > span.name-text_enabled, #branded-social-images-editor .area--config .inner > span.name-image, #branded-social-images-editor .area--config .inner > span.name-image_logo, #branded-social-images-editor .area--config .inner > span.name-image_use_thumbnail, #branded-social-images-editor .area--config .inner > span.name-disabled {
        width: 100%; }

#branded-social-images-editor .area--options {
  position: relative;
  grid-area: options; }

#branded-social-images-editor .area--settings {
  grid-area: settings; }

#branded-social-images-editor .area--config {
  grid-area: config; }

#branded-social-images-editor .hidden, #branded-social-images-editor .wrap-hidden {
  display: none !important; }

#branded-social-images-editor .wrap-position-grid .options-wrap {
  width: 66px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 22px 22px 22px;
      grid-template-columns: 22px 22px 22px;
  -ms-grid-rows: 22px 22px 22px;
      grid-template-rows: 22px 22px 22px;
  border: 1px solid black;
  padding: 0 !important;
  box-sizing: content-box; }

#branded-social-images-editor .wrap-position-grid .option-wrap {
  display: -ms-inline-grid !important;
  display: inline-grid !important;
  width: 100%;
  height: 100%;
  position: relative; }
  #branded-social-images-editor .wrap-position-grid .option-wrap label {
    text-indent: 30px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    border-top: 0;
    border-left: 0; }
  #branded-social-images-editor .wrap-position-grid .option-wrap:nth-child(n+7) label {
    border-bottom: 0; }
  #branded-social-images-editor .wrap-position-grid .option-wrap:nth-child(3n) label {
    border-right: 0; }
  #branded-social-images-editor .wrap-position-grid .option-wrap input:checked + label {
    background: black; }

#branded-social-images-editor .wrap-position-grid input {
  width: 20px;
  height: 30px;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 0;
  opacity: 0; }
  #branded-social-images-editor .wrap-position-grid input:focus {
    outline: none; }
  #branded-social-images-editor .wrap-position-grid input:checked {
    background: black; }

#branded-social-images-editor .no-remove ~ .remove {
  display: none; }

#branded-social-images-editor .add-image-select input[value='0'] ~ .remove, #branded-social-images-editor .add-image-select input[value=''] ~ .remove {
  display: none; }

#branded-social-images-editor .image-preview-wrapper {
  display: none; }

#branded-social-images-editor .input-wrap {
  box-sizing: border-box;
  padding: 10px;
  display: inline-block; }
  #branded-social-images-editor .input-wrap.name-text_shadow_enabled > .field-wrap:first-child:before, #branded-social-images-editor .input-wrap.name-background_enabled > .field-wrap:first-child:before {
    content: '';
    display: block;
    width: 100%;
    margin-top: 2em; }
  #branded-social-images-editor .input-wrap .comment {
    display: block; }
  #branded-social-images-editor .input-wrap.name-text_enabled .comment, #branded-social-images-editor .input-wrap.name-text_shadow_enabled .comment {
    display: inline;
    margin-left: 1em; }
  #branded-social-images-editor .input-wrap i.toggle-comment {
    cursor: help; }
    #branded-social-images-editor .input-wrap i.toggle-comment + .comment {
      display: none; }
    #branded-social-images-editor .input-wrap i.toggle-comment.active + .comment {
      display: block; }
  #branded-social-images-editor .input-wrap i.toggle-info {
    cursor: help; }
    #branded-social-images-editor .input-wrap i.toggle-info + .info {
      display: none; }
    #branded-social-images-editor .input-wrap i.toggle-info.active + .info {
      display: block; }
  #branded-social-images-editor .input-wrap > label:first-child {
    display: block;
    font-weight: bold;
    line-height: 2; }
  #branded-social-images-editor .input-wrap textarea, #branded-social-images-editor .input-wrap input[type=text] {
    width: 100%; }
  #branded-social-images-editor .input-wrap.input-color .field-wrap {
    position: relative;
    display: inline-block; }
  #branded-social-images-editor .input-wrap input.color-picker {
    padding-left: 30px; }
    #branded-social-images-editor .input-wrap input.color-picker + .swatch {
      background-color: var(--the-color);
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: 2px;
      left: 3px;
      border-radius: 3px;
      border: 1px solid #8c8f94;
      pointer-events: none; }

#branded-social-images-editor .filename + .message {
  display: block; }

#branded-social-images-editor .filename:empty + .message {
  display: none; }

#branded-social-images-editor .disabled-notice {
  display: none;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.2);
  padding: 10px 20px;
  margin: 10px 0;
  color: red; }

#branded-social-images-editor.bsi-disabled .disabled-notice {
  display: block; }
