.position-grid {
  figure,
  img {
    width: 64px;
  }

  figure img {
    padding: 0;
  }

  .carbon-radio-list,
  .carbon-radio-image-list,
  .cf-radio__list,
  &.cf-radio-image .cf-radio__list {
    width: 66px;
    display: inline-grid;
    grid-template-columns: 22px 22px 22px;
    grid-template-rows: 22px 22px 22px;
    border: 1px solid black;
    padding: 0 !important;
    box-sizing: content-box;

  }

  li {
    display: inline-grid !important;
    width: 22px;
  }

  li label {
    border: 1px solid black;
    width: 21px;
  }

  .carbon-radio-list li label { // exception for carbon 2
    width: 22px;
  }

  li, li label {
    box-sizing: border-box;
    height: 22px;
    overflow: hidden;
    margin: 0 !important
  }

  input {
    width: 20px;
    height: 30px;
    appearance: none;
    border-radius: 0;
    border: 0;
    opacity: 0;

    &:focus {
      outline: none;
    }

    &:checked {
      background: black;
    }
  }

  &.with-labels {
    label label {
      border: 0;
    }

    input {
      position: absolute;
      left: -999em;

      + label {
        background: transparent;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        overflow: hidden;
        white-space: nowrap;
      }

      &:checked + label {
        background: black;
      }
    }
  }
}

.add-slider {
  input {
    display: inline-block !important;
    width: auto !important;
  }

  .a-slider {
    display: inline-block;
    width: 400px;
  }
}


#cls-og-preview {
  zoom: 0.5;
}

#cls-og-preview {
  div {
    width: 1200px;
    height: 630px;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

    //position: fixed;
    //right: 20px;
    //bottom: 50px;
  }

  .inView + & {
    display: block;
  }

  &, .closed + & {
    display: none;
  }
}

@import url(//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);

// native interface
#branded-social-images-editor {

  display: grid;
  grid-template-columns: 1200px 1fr;
  grid-template-areas: "image options" "image settings";
  z-index: 0;

  .area--background {
    width: 1200px;
    height: 0;
    padding-bottom: (630/1200)*100%;
    position: relative;
    grid-area: image;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    z-index: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent no-repeat 100%/contain;
  }

  .area--text {
    grid-area: image;
    z-index: 1;
    display: grid;
    grid-template-columns: var(--padding) 1200px*.7 auto;
    grid-template-rows: var(--padding) 630px*.7 auto;
    grid-template-areas: ". . ." ". edit ." ". . .";

    .editable-container {
      grid-area: edit;

      .editable {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border: none;
        color: var(--text-color);
        background: var(--text-background);
        display: inline-block;
        font-size: var(--font-size);
        line-height: var(--line-height);
        padding: var(--text-padding);
        text-shadow: var(--text-shadow-left) var(--text-shadow-top) 0 var(--text-shadow-color);
      }
    }
  }

  .area--options {
    position: relative; // should be below
    grid-area: options;
  }

  .area--settings {
    grid-area: settings;
  }

  .hidden {
    display: block;
  }

  .wrap-position-grid {
    .options-wrap {
      width: 66px;
      display: inline-grid;
      grid-template-columns: 22px 22px 22px;
      grid-template-rows: 22px 22px 22px;
      border: 1px solid black;
      padding: 0 !important;
      box-sizing: content-box;

    }

    .option-wrap {
      display: inline-grid !important;
      width: 100%;
      height: 100%;
      position: relative;

      label {
        text-indent: 30px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid black;
        border-top: 0;
        border-left: 0;
      }
      &:nth-child(n+7) label {
        border-bottom: 0;
      }
      &:nth-child(3n) label {
        border-right: 0;
      }
      input:checked + label {
        background: black;
      }
    }

    input {
      width: 20px;
      height: 30px;
      appearance: none;
      border-radius: 0;
      border: 0;
      opacity: 0;

      &:focus {
        outline: none;
      }

      &:checked {
        background: black;
      }
    }
  }
}
