.position-grid figure, .position-grid img {
  width: 64px; }

.position-grid figure img {
  padding: 0; }

.position-grid .carbon-radio-image-list, .position-grid .cf-radio__list, .position-grid.cf-radio-image .cf-radio__list {
  max-width: 240px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; }

.position-grid input:focus {
  outline: none; }
